@media (max-width: 1199px){
            .wim-left-banner{
            margin-top:60px;
            }

           .bart {
             padding: 0;
           }

           .wm-faq-content{
           padding-left:2%;
           padding-right:2%;
            }
            
            .weem-cont p {
            font-size: 12px;
            }
            
            .weem-facts {
             width: 22%;
            }
            
            .wim-parallax .wm-parallax-bg {
                background-position: 13px;
                width: 104%;
            }
            
            .what{
                max-width: 44%;
                padding: 0 0 0 37px;
            }
}
