@media (max-width: 1199px){
            .wim-left-banner{
            margin-top:60px;
            }

           .bart {
             padding: 0;
           }

           .wm-faq-content{
           padding-left:2%;
           padding-right:2%;
}
