@media screen and (max-width: 1280px){
        .wim-area-banner{
          height: auto;
        }
        .wim-left-banner {
        margin: 0 0 30px 0;
        }
        .black {
                height: 1500px;
        }
        
        nav a {
         margin: 0 17px;
        }
}
