@media screen and (max-width: 480px){
       .wim-area-banner{
         padding-bottom: 10em;
       }
       .wim-left-banner {
       margin: 0 !important;
              padding: 0;
       }
       
       .what {
    max-width: 100%;
    padding: 0 0 0 37px;
       }

}
