@media screen and (max-width: 480px){
       .wim-area-banner{
         padding-bottom: 10em;
       }
       .wim-left-banner {
       margin: 0 !important;
              padding: 0;
       }
       
        .wim-parallax .wm-parallax-bg {
                background-position: center center;
                height: 124%;
        }
}
