@media (max-width: 767px){
      .wimMainMenubar a{
      }

      .wimMainMenubar a:hover{
      color:#999;
       }

       nav a {
          font-size: 11px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 0 7px;
          display: inline-block;
      }

       .wimBodyWrap{
       margin:10px;
       }

      .black {
        height: auto;
      }
       .wim-area-banner .fullscreen{
       height:1000px !important;
        }

        .weem-cont h1{
        font-size:40px;
          }

                .weem-expresion{
            font-size:210% !important;
          }

          .generic-banner .height{
          height:400px;
            }
          }

          .generic-banner .banner-content h2{
          line-height:1.2em;
          margin-bottom:20px;
          }


          @media (max-width: 991px){
          .generic-banner .banner-content h2 br{
          display:none;
            }
          }

          .generic-banner .banner-content p{
          font-size:16px;
          }

          @media (max-width: 991px){
          .generic-banner .banner-content p br{
          display:none;
            }

            .wm-faq-content{
            text-align:center;
            }

            .footer-social{
            margin-top:10px;
             }

             .distros {
               width: 86%;
               }
                
                        .wimImg img{
          padding: 50px 0;
        }
        
        .paddingBawah-100 {
        padding-bottom: 200px;
        }
        .paddingBawah-50 {
        padding-bottom: 100px;
        }
        
        .wim-left-banner{
            padding-bottom: 100px;        
        }
}
