@media (max-width: 767px){
      .wimMainMenubar a{
      }

      .wimMainMenubar a:hover{
      color:#999;
       }

       nav a {
          font-size: 11px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 0 7px;
          display: inline-block;
      }

       .wimBodyWrap{
       margin: 0;
    position: initial;
       }

      .black {
        height: auto;
      }
       .wim-area-banner .fullscreen{
       height:1000px !important;
        }

        .weem-cont h1{
        font-size:40px;
          }

                .weem-expresion{
            font-size:210% !important;
          }

          .generic-banner .height{
          height:400px;
            }
          }

          .generic-banner .banner-content h2{
          line-height:1.2em;
          margin-bottom:20px;
          }
