@media (max-width: 991px){
    .section-title p br{
    display:none;
    }

    .weem-cont h1 br{
    display:none;
      }

      .weem-cont p br{
      display:none;
       }

       .weem-cont {
    margin-top: 40px;
    margin-bottom: 40px;
    }
    
    .weem-facts {
    display: inline-block;
    width: 22% !important;
    margin: 0 3px;
    }
}
