.black-kali{
  background-image: url(../img/kali-linux.png);
  background-position: center;
  background-size: cover;
}

pre{
  background-color: #ccc;
    padding: 10px;
    margin: 10px 0;
}

.borderBawah{
  border-bottom: 1px solid #ccc;
}

.kali-dragon{
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
}

.kali-logo{
  margin: o auto;
}

.kali{
    padding-top: 100px;
}

.kali img{
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
      position: absolute;
}

.kali .kali-logo img{
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
      position: relative;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
}
