.wim-parallax{
    height: 700px;
}

.wim-parallax .wm-parallax-bg{
  background-repeat: no-repeat;
      background-position: 330px center;
      background-size: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 142.8%;
      top: -150px;
}

 @media (max-width: 1200px){
    .wim-parallax .wm-parallax-bg {
	    background-position: 330px center;
	    width: 100%;
	 }
} 
  
/* @media (max-width: 1346px){
	.wim-parallax .wm-parallax-bg {
	    background-position: 75px center;
	    width: 100%;
	}
}

@media (max-width: 1300px){
	.wim-parallax .wm-parallax-bg {
	    background-position: 73px center;
	    width: 100%;
	}
} */

@media (max-width: 1664px){
	.wim-parallax .wm-parallax-bg {
	    background-position: 249px center;
	    width: 100%;
	}
}

@media (max-width: 1500px){
	.wim-parallax .wm-parallax-bg {
	    background-position: 174px center;
	    width: 100%;
	}
}

@media (max-width: 1147px){
	.wim-parallax .wm-parallax-bg {
	    background-position: left center;
	    width: 100%;
	}
}

 @media (man-width: 992px){
	.wim-parallax .wm-parallax-bg {
	       background-position: center left;
	       width: 107%;
	   }
}

@media (max-width: 991px){
	.wim-parallax .wm-parallax-bg {
	    background-position: center;
	    height: 118.8%;
	 }
 }



.wim-parallax .wm-pb-section-parallax .wm-pb-parallax-c, .wim-parallax .wm-pb-slides .wm-parallax-bg.wm-pb-parallax-c {
    background-attachment: fixed;
}

.wm-pb-parallax-c {
    background-attachment: fixed;
}

#wm-builder-outer-content * {
    box-sizing: border-box;
}

.containerParallax {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.blink {
  animation: blinker 1s linear infinite;
  font-weight: bold;
}

 @keyframes blinker {

   50% {
     opacity: 0;
       }
   }

/* NAVBAR
----------------------*/

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(74, 13, 143);
    background: -moz-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: -webkit-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #cd99d4;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}
/* end navbar */


/*  TABS
----------------------*/

.tab-content {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: #fff;
      box-shadow: 0px 7px 40px 13px #f2f2f2;
      padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
      padding: 1rem 1rem;
      border-color: #faf6fb #faf6fb #FFF;
      font-size: 19px;
      color: #999;
      background: #f2f2f2;
}

.nav-tabs .nav-link.active {
      background: #FFF;
      border-top-width: 3px;
      border-color: #e6e6e6 #eaeae9 #FFF;
      color: #222;
}
/* end tab */


/* Start Container Area */
body{
  line-height: 1.5em;
  position: relative;
  color: #777;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body{background: #fff;}

.wimBodyWrap{
    /* box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2); */
    /* margin: 50px; */
    position: relative;
}

.wimCoreHeader{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #000;
}

.weem-cont h1{
    font-size: 48px;
    font-weight: 100;
    line-height: 1.2em;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ccc;
}

.weem-cont h6{font-weight: 400;}

.weem-cont p{
    margin-bottom: 60px;
    font-size: 14px;
}

.weem-cont .sp-1{
  font-weight: 600;
  color: #737373;
}

.weem-cont .sp-2{
  color: #b3b3b3;
  font-weight: 600;
}

.weem-expresion{
    color: #888 !important;
}

.text-center{
	text-align: center;
}

.horror-font{
  font-family: 'Creepster', cursive;
      color: #4d4d4d;
      text-shadow: none;
}

.points h2 {
      display: inline-block;
      border: none !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin: 0 0.4em 0 0 !important;
      font-size: 25px !important;
}

.borderBawahH2{
  border-bottom: 10px solid #f2f2f2 !important;
  box-shadow: none !important;
}

.borderBawah{
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 32px;
}

.weem-expresion .sp-1{
  font-weight: 600;
  color: #737373;
}

.main-txt{margin-bottom: 10px;}

.upper-top{
    color: #ccc;
    font-family: 'Poppins', sans-serif;
}

.wim-top{color: #666666 !important;}

.aboutWim-area, .introduction-area {
    position: relative;
    border-bottom: solid 1px #dddddd;
    border-top: solid 1px #dddddd;
}

.funfact-area{
    position:relative;
    background: #fff;
}

.feat-area{
    position:relative;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}

 .aboutWim-area .weem-cont h2,
 .introduction-area .weem-cont h2,
 .funfact-area .weem-cont h2,
 .linux h2 {
     font-size: 36px;
     line-height: 1.25em;
     font-weight: 100;
}

 .aboutWim-area .weem-cont h2 span,
 .introduction-area .weem-cont h2 span,
 .funfact-area .weem-cont h2 span,
 .linux h2 span {
 font-weight: 600;
}

 .aboutWim-area .weem-cont p,
     .introduction-area .weem-cont p,
     .funfact-area .weem-cont p,
     .linux p {
     line-height: 1.65em;
     font-size: 14px;
     font-weight: 300;
}

.white-bg{background:#fff;}

.switch-wrap{margin-bottom:10px;}

.switch-wrap p{margin:0;}

.elements-banner{color:#000 !important;}

.fixed-top {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
}

.left{
  float: left;
}

.weem-facts{
      display: inline-block;
      width: 24%;
}

.weem-facts span{
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  color: #444;
}

.weem-facts h2{
 display: inline-block;
 color: #999;
 font-weight: 300 !important
}

#wimBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #999;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
}

#wimBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/* End Container Area */



/* Start Logo area */
.logoWim {
      font-size: 2.3em;
      color: #fff;
      font-family: courier new;
}

.logo{

}

.black{
  background-color: black;
  color: #a6a6a6;
}

.black h2{
  color: white;
}

.opacity{
  opacity: 0.5;
}

.wimImg img {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
        opacity: 0.2;
}

.wimImg img:hover{
opacity: 0.3;
filter: alpha(opacity=100); /* For IE8 and earlier */
background-image: url(img/w2.png);
}

#wimImg{

}

.blackBotton{
  background-color: white;
}
/* End Logo area */

/* Start Images area */
.bart{
      padding: 0 2em 7em 0;
}

.wim-center{
justify-content:center !important;
height: auto !important;
}

.expert{
  padding: 0 2em 3em 0;
  display: inline-block;
  float: left;
  width: 30%;
}

.wim-icon{
  display: inline-block;
      width: 20%;
      clear: left;
      float: left;
      height: auto;
    margin-right: 30px;
}

.wim-icon img{
max-width: 60%;
}

.marginBawah-10 {
    margin-bottom: 10px;
}
	
.tutorH2 {
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: right;
    color: #a6a6a6;
}
	
.weem-cont img.mind {
    width: 100%;
}

	.mindmap{
		width:70%;
	}

.icon.style1, .icon.style2, .icon.style3{
    color: #737373;
}

.icon.major {
    border: solid 1px #e6e6e6;
    display: inline-block;
    border-radius: 6%;
    padding: 0.65em;
    margin: 0 0 2em 0;
    cursor: default;
    box-shadow: 3px 4px 25px #808080;
    background-color: #fff;
}

.icon.major:before {
    display: inline-block;
    font-size: 3.25rem;
    width: 2.25em;
    height: 2.25em;
    line-height: 2.2em;
    border-radius: 100%;
    border: solid 1px;
    text-align: center;
}

.icon.major:before {
    border-color: rgba(255, 255, 255, 0.35);
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
/* End Images area */

/* Start Distro area */
.distros {
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}

.linux-distro {
    font-size: 25px !important;
}

.distros li:first-child {
    padding-left: 0;
    margin: 0;
}

.distros li {
  margin: 0 1em 2em 1em;
  padding: 0;
  display: inline-block;
}

.distros li > :last-child {
    margin-bottom: 0;
}

.distros img {
    width: 100%;
}
/* End Distro area */

/* Start Story area */
.what{padding:0 60px;}
.short-story{
  display: inline-block;
  text-align: justify;
}

.short-story h2 {
    font-size: 36px;
    line-height: 1.25em;
    font-weight: 100;
    text-align: left;
}

.short-story h2 span {
    font-weight: 600;
    color: #737373;
}

.short-story h3{
    margin-bottom: 0.4em;
}

.wim-hr{
  background-image: -moz-linear-gradient( 122deg, #08c1c4 0%, #05787a 100%);
  background-image: -webkit-linear-gradient( 122deg, #08c1c4 0%, #05787a 100%);
  background-image: -ms-linear-gradient( 122deg, #08c1c4 0%, #05787a 100%);
  background-image: linear-gradient( 122deg, #08c1c4 0%, #05787a 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
  color: #FFF;
}

.gantung{

}
/* End Story area */

/* Start Banner area */
.wim-area-banner {
   background: #fff;
   border-bottom: 1px solid #ccc;
   position: relative;
}

.generic-banner{background: #08c1c4;}

.generic-banner .height{height: 600px;}
/* End Banner area */

/* Start Video area */
.video-area{
    padding: 200px 0 60px 0;
    position: relative;
    background: url(../img/video-bg.jpg) no-repeat center center/cover;
}

.video-area .overlay-bg{
background: rgb(255, 128, 0);
}

.video-area .video-content{
    text-align: center;
    position: relative;
    z-index: 2;
}

.video-area .video-content a{
    display: inline-block;
    margin-bottom: 20px;
}

.video-area .video-content h3{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.video-area .video-content h4{
    font-weight: 300;
    font-size: 14px;
}

.video-area .video-content .video-desc{
    margin-top: 120px;
    text-align: right;
    align-self: flex-end;
}

.video{
  width: 100%;
  display: inline-flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.video li{
  width: 50%;
}
.video li:first-child {
  padding-right: 10px;
}

.feat-video{
  display: flex;
}

.ytp-title-channel-logo {
    display: none;
}

.ytp-title-text {
    display: none;
}

/* End Video area */

/* Start Navigations area */
nav{
    margin: 0 auto;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform-origin: 100% 50%;
}

nav a{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 25px;
    display: inline-block;
}

nav a:hover{color: #08c1c4;}

.wimMenuBar{cursor: pointer;}

.wimMenuBar span{
    color: #000;
    font-size: 24px;
}

.wimMenuBar a{color: #08c1c4;}

.wimMainMenubar{position: relative;}
/* End Navigations area */

/* Start Section area */
.section-top-border{
    padding: 70px 0;
    border-top: 1px dotted #eee;
}

.section-footer{padding: 100px 0;}

.section-title{padding-bottom: 30px;}

.section-title h2{margin-bottom: 20px;}

.section-title p{
    font-size: 16px;
    margin-bottom: 0;
}
/* End Section area */

/* Start Counter and Faq area */
.counter-left{text-align: right;}

.counter-left h2{
    font-size: 48px;
    font-weight: 100;
    color: #737373;
}

.counter-left p{
    font-size: 14px;
    font-weight: 300;
}

.counter-left .wm-single-facts{margin-bottom: 26px;}

.weem-faq{
    background: #fff;
    border-bottom:  solid 1px #dddddd;
}

.wm-faq-content{
    padding-left: 10%;
    padding-right: 10%;
}

.wm-single-faq{margin-bottom: 30px;}

.wm-single-faq h2{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.wm-single-faq p{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
/* End Counter and Faq area */


/* linux distro */
.linux-distros{
  display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-moz-justify-content: center;
-webkit-justify-content: center;
-ms-justify-content: center;
width: calc(100% + 0em);
margin: 0 auto;
padding: 0;
list-style: none;
}

.linux-distros li{
  width: calc(49.33333% - 2em);
  margin: 0 0 37px 0;
  padding: 0;
  display: inline-flex;
}


.icon.linux {
    border: solid 1px #e6e6e6;
    display: inline-table;
    border-radius: 6%;
    padding: 0.65em;
    margin: 0 0 2em 0;
    cursor: default;
    box-shadow: 3px 4px 25px #808080;
    background-color: #fff;
}

.collinux{
  flex: 0 0 66%;
max-width: 66%;
    margin: 0 28px;
}

@media (max-width: 991px){
  .linux-distros li {
  width: calc(100% - 0em);
}
}

@media (max-width: 767px){
.linux-distros li {
    display: contents;
}

.icon.linux {
    margin: 0 0 2em 0;
}

.collinux {
    margin: 0 0 30px 0;
}
	
	.what {
    max-width: 100% !important;
    padding: 0 0 0 37px !important;
}
}

@media (max-width: 533px){
  .icon.linux {
      margin: 0 0 2em 0;
  }

  .collinux {
    margin: 0 0 59px 30px;
}
	
	.what {
    max-width: 100% !important;
    padding: 0 12px 0 37px !important;
}
}

@media (max-width: 456px){
  .collinux {
    margin: 0 0 35px 0px;
    font-size: 12px;
    text-align: center;
  }
	
.what {
    max-width: 100% important;
    padding: 0 12px 0 37px important;
}
}
/* end linux distro */


/* Start Features area */
.wim-feature {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: calc(100% + 0em);
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.wim-feature li {
  width: calc(33.33333% - 2em);
  margin-left: 2em;
  padding: 0;
  text-align: center;
}

.wimCenterFeature {
    align-items: center !important;
    padding: 0 35px;
}

.wim-left-banner{
	padding-bottom: 100px;
}

.feature-area{}

.wim-featured{}

.feature-area .overlay-bg{
    background:  #08c1c4;
    opacity:  0.3;
}

.feature-area .icon{
    font-size: 100px;
    color: #fff;
    background: #f0f8e9;
    text-align: center;
    padding: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.feature-area .icon:hover{
    color: #fff;
    background-color: #08c1c4;
}

.feature-area .icon:hover .lnr{color: #fff;}

.feature-area .lnr{color: #08c1c4;}

.feature-area .desc{margin-top: 30px;}

.feature-area .desc h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 2.5px;
}

.feature-area .desc p{color: #555;}

.single-feature{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
}

.feat-more{
  width: 25%;
display: block;
margin: 0 auto;
}
/* End Features area */

/* Start Linking area */
a{
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

a, a: focus{
  text-decoration: none;
  color: #08c1c4;
  outline: 0;
}

a:hover{
  color: #08c1c4;
  text-decoration: none;
}

.link-article {
	color: #08c1c4;
	font-weight: bold;
}

.link-article a:hover{
	color: #007bff;
}

/* End Linking area */

/* Start Contact area */
.contact-area{color: #737373;}

.contact-area .overlay-bg{
    background: #cccccc;
    opacity: 0.3;
}

.contact-area h2{
    font-size: 36px;
    font-weight: 100;
}

.contact-area h2 span{font-weight:600;}

.contact-area p{
    font-size: 14px;
    font-weight: 300;
}

.contact-form ::-webkit-input-placeholder{
    color: #fff;
    font-weight: 300;
}

.contact-form :-moz-placeholder{
    color: #fff;
    opacity: 1;
    font-weight: 300;
}

.contact-form ::-moz-placeholder{
    color: #fff;
    opacity: 1;
    font-weight: 300;
}

.contact-form :-ms-input-placeholder{
    color: #fff;
    font-weight: 300;
}

.contact-form ::-ms-input-placeholder{
    color: #fff;
    font-weight: 300;
}

.contact-form .alert-msg{
    color: #fff !important;
    margin-top: 50px;
    z-index: 1;
}

.common-input{
    border: 1px solid #999999;
    line-height: 48px;
    width: 100%;
    display: block;
    background: transparent;
    padding: 0 25px;
    color: #fff;
}

.common-textarea{
    border: 1px solid #999999;
    width: 100%;
    display: block;
    background: transparent;
    padding: 15px 25px;
    color: #fff;
    height: 150px;
    resize: none;
}
/* End Contact area */

/* Start Footer area */
footer{background: #fff;}

footer .footer-nav li{margin-top: 8px;}

footer .footer-nav li a{color: #777;}

footer .footer-nav li a:hover{color: #08c1c4;}

.single-footer-widget{margin-bottom: 30px;}

.single-footer-widget h6{color: #ccc;}

.footer-bottom{
    border-top: 1px solid #222;
    padding-top: 40px;
}

.footer-bottom .footer-text{color: #777;}

.footer-bottom .footer-text i{color: #08c1c4;}

.footer-bottom .footer-text a{color: #08c1c4;}

.footer-bottom .footer-text a:hover{color: #737373;}

.footer-social a{
    width: 30px;
    background: #f9f9ff;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.footer-social a i{
    color: #777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-social a: last-child{margin-right: 0;}

.footer-social a:hover{background: #08c1c4;}

.footer-social a:hover i{color: #fff;}
/* End Footer area */

/* Start generic area */
.generic-header .wimMenuBar span{color: #777;}

.generic-header nav a{color: #000;}

.generic-banner{
    background: #fff;
    color: #222;
}

.aboutWim-generic-area{background: #fff;}

.aboutWim-generic-area .border-top-generic{padding: 100px 15px;}

.aboutWim-generic-area p{margin-bottom: 20px;}
/* End generic area */

/* Start H font */
.h1,.h2,.h3,.h4,.h5,.h6{
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5em;
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-weight: 500;
}

h1, .h1{font-size: 36px;}

h2,.h2{font-size: 30px;}

h3,.h3{font-size: 24px;}

h4,.h4{font-size: 18px;}

h5,.h5{font-size: 16px;}

h6,.h6{
  font-size: 14px;
  color: #222;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6{
color: #777;}
/* End H font */

/* Start Placeholder and selections */
: -moz-placeholder{
  color: #000;
  font-weight: 300;
  opacity: 1;
}

::-moz-placeholder{
  color: #000;
  font-weight: 300;
  opacity: 1;
}

: -ms-input-placeholder{
  color: #000;
  font-weight: 300;
}

::-ms-input-placeholder{
  color: #000;
  font-weight: 300;
}

::-moz-selection{
   background-color: #08c1c4;
   color: #fff;
}

 ::selection{
   background-color: #08c1c4;
   color: #fff;
}

 ::-webkit-input-placeholder{
   color: #000;
   font-weight: 300;
}
/* End Placeholder and Selections */

/* Start Font setting */
.font-z-11{font-size: 11px;}

.font-z-12{font-size: 12px;}

.font-z-13{font-size: 13px;}

.font-z-14{font-size: 14px;}

.font-z-15{font-size: 15px;}

.font-z-16{font-size: 16px;}

.font-z-18{font-size: 18px;}

.font-z-20{font-size: 20px;}

.font-z-30{font-size: 30px;}

.font-z-48{font-size: 48px !important;}

.font-z-50{font-size: 50px;}

.font-w100{font-weight: 100;}

.font-w300{font-weight: 300;}

.font-w400{font-weight: 400 !important;}

.font-w500{font-weight: 500;}

.font-700{font-weight: 700;}

.font-s-i{font-style: italic;}

.clear::before,.clear::after{
content: " ";
display: table;
}

.clear::after{clear: both;}

.justify{text-align: justify;}
/* End Font Setting */

/* Start Margin and Padding */
.marginAtas-10{margin-top: 10px;}

.marginAtas-15{margin-top: 15px;}

.marginAtas-20{margin-top: 20px;}

.marginAtas-25{margin-top: 25px;}

.marginAtas-30{margin-top: 30px;}

.marginAtas-35{margin-top: 35px;}

.marginAtas-40{margin-top: 40px;}

.marginAtas-50{margin-top: 50px;}

.marginAtas-60{margin-top: 60px;}

.marginAtas-70{margin-top: 70px;}

.marginAtas-80{margin-top: 80px;}

.marginAtas-100{margin-top: 100px;}

.marginAtas-120{margin-top: 120px;}

.marginAtas-150{margin-top: 150px;}

.marginKiri-0{margin-left: 0 !important;}

.marginKiri-5{margin-left: 5px !important;}

.marginKiri-10{margin-left: 10px;}

.marginKiri-15{margin-left: 15px;}

.marginKiri-20{margin-left: 20px;}

.marginKiri-30{margin-left: 30px;}

.marginKiri-50{margin-left: 50px;}

.marginKanan-0{margin-right: 0 !important;}

.marginKanan-5{margin-right: 5px !important;}

.marginKanan-15{margin-right: 15px;}

.marginKanan-10{margin-right: 10px;}

.marginKanan-20{margin-right: 20px;}

.marginKanan-30{margin-right: 30px;}

.marginKanan-50{margin-right: 50px;}

.marginBawah-0{margin-bottom: 0px;}

.marginBawah-0-i{margin-bottom: 0px !important;}

.marginBawah-5{margin-bottom: 5px;}

.marginBawah-10{margin-bottom: 10px;}

.marginBawah-15{margin-bottom: 15px;}

.marginBawah-20{margin-bottom: 20px;}

.marginBawah-25{margin-bottom: 25px;}

.marginBawah-30{margin-bottom: 30px;}

.marginBawah-40{margin-bottom: 40px;}

.marginBawah-50{margin-bottom: 50px;}

.marginBawah-60{margin-bottom: 60px;}

.marginBawah-70{margin-bottom: 70px;}

.marginBawah-80{margin-bottom: 80px;}

.marginBawah-90{margin-bottom: 90px;}

.marginBawah-100{margin-bottom: 100px;}

.margin-slim{margin: 0.2em;}

.paddingAtas-0{padding-top: 0px;}

.paddingAtas-10{padding-top: 10px;}

.paddingAtas-15{padding-top: 15px;}

.paddingAtas-20{padding-top: 20px;}

.paddingAtas-25{padding-top: 25px;}

.paddingAtas-30{padding-top: 30px;}

.paddingAtas-40{padding-top: 40px;}

.paddingAtas-50{padding-top: 50px;}

.paddingAtas-60{padding-top: 60px;}

.paddingAtas-70{padding-top: 70px;}

.paddingAtas-80{padding-top: 80px;}

.paddingAtas-90{padding-top: 90px;}

.paddingAtas-100{padding-top: 100px;}

.paddingAtas-150{padding-top: 150px;}

.paddingBawah-0{padding-bottom: 0px;}

.paddingBawah-10{padding-bottom: 10px;}

.paddingBawah-15{padding-bottom: 15px;}

.paddingBawah-20{padding-bottom: 20px;}

.paddingBawah-25{padding-bottom: 25px;}

.paddingBawah-30{padding-bottom: 30px;}

.paddingBawah-40{padding-bottom: 40px;}

.paddingBawah-50{padding-bottom: 50px;}

.paddingBawah-60{padding-bottom: 60px;}

.paddingBawah-70{padding-bottom: 70px;}

.paddingBawah-80{padding-bottom: 80px;}

.paddingBawah-90{padding-bottom: 90px;}

.paddingBawah-100{padding-bottom: 100px;}

.paddingBawah-150{padding-bottom: 150px;}

.paddingKanan-30{padding-right: 30px;}

.paddingKiri-30{padding-left: 30px;}

.p-40{padding: 40px;}

.wm-t-30{margin-top: 30px;}

.wm-b-50{margin-bottom: 50px;}

.wm-pt-200{padding-top: 100px;}

.text-center h2 {
    font-size: 36px;
    line-height: 1.25em;
    font-weight: 100;
    text-align: center;
}

.text-black{
	color: #000 !important;
}

.text-black-shadow {
  color: #4d4d4d !important;
	font-size: 1.01em;
}

.wim-midd h2{
  text-align: center;
      border: 0px #ccc;
      margin-bottom: 30px;
      padding: 10px;
      color: #666;
      box-shadow: 0px 1px 5px #999;
}

.txt-shadow{
}
/* End margin and padding */

/* Start miscellaneous */
.float-kanan{
  float: right;
}

.float-kiri{
  float: left;
}

.transition{
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
}

.section-penuh{padding: 100px 0;}
.section-tengah{padding: 75px 0;}

/* Start flex rule */
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.iniline-flex{
    display: -webkit-inline-flex;
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-grow{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-wrap{
    -webkit-flex-wrap; ;wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap wrap;
    flex-wrap: wrap;
}

.flex-left{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
}

.flex-right{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}

.flex-middle{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.flex-top{
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.flex-bottom{
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.flex-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.flex-column{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-cell{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.space-between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.space-around{
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
}

/* End Flex rule */

/* Start Display and Container */
.display-table{display: table;}

.light{color: #fff;}

.dark{color: #000;}

.relative{position: relative;}

.overflow-ndelik{overflow:hidden;}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container.fullwidth{width: 100%;}

.no-padding{
    padding: 0;
}

.container.no-padding{
  padding-left  : 0;
  padding-right : 0;
}

.section-bg{background: #f9fafc;}


.row.no-margin{
    margin-left   : 0;
    margin-right  : 0;
}
.sample-text-area{
    background  : #fff;
    padding     : 100px 0 70px 0;
}
.text-heading{
    margin-bottom : 30px;
    font-size     : 24px;
}

b,i,sup,sub,u,del{
    color: #000000;
}
/* End Display and Container */

/* Start Button area */
.btn.active.focus, .btn.active: focus, .btn.focus, .btn.focus: active, .btn: active: focus, .btn: focus{
  outline: 0;
  text-decoration: none;
}

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i{
  line-height: inherit;
  font-size: 1em;
}

.button-area{background: #fff;}

.button-area .border-top-generic{
    padding     : 70px 15px;
    border-top  : 1px dotted #eee;
}

.button-group-area .genric-btn{
    margin-top    : 10px;
    margin-right  : 10px;
}

.button-group-area .genric-btn: last-child{margin-right: 0;}

.genric-btn{
    display             : inline-block;
    outline             : none;
    cursor              : pointer;
    padding             : 0 30px;
    text-align          : center;
    text-decoration     : none;
    font-weight         : 500;
    font-size           : 1em;
    line-height         : 40px;
    -webkit-transition  : all 0.3s ease 0s;
    -moz-transition     : all 0.3s ease 0s;
    -o-transition       : all 0.3s ease 0s;
    transition          : all 0.3s ease 0s;
}

.genric-btn: focus{outline: none;}

.genric-btn.e-large{
    line-height : 50px;
    padding     : 0 40px;
}

.genric-btn.radius{border-radius: 3px;}

.genric-btn.circle{border-radius: 20px;}

.genric-btn.large{line-height: 45px;}

.genric-btn.medium{line-height: 30px;}

.genric-btn.small{line-height: 25px;}

.genric-btn.arrow{
    display           : -webkit-inline-box;
    display           : -ms-inline-flexbox;
    display           : inline-flex;
    align-items       : center;
    -webkit-box-align : center;
    -ms-flex-align    : center;
}

.genric-btn.arrow span{margin-left: 10px;}

.genric-btn.default{
    background: #f9f9ff;
    color: #222;
    border: 1px solid transparent;
    }

.genric-btn.default:hover{
    background: #fff;
    border: 1px solid #f9f9ff;
}

.genric-btn.default-border{
    background: #fff;
    border: 1px solid #f9f9ff;
}

.genric-btn.default-border:hover{
    background: #f9f9ff;
    color: #222;
    border: 1px solid transparent;
}

.genric-btn.primary{
    background: #737373;
    color: #fff;
    border: 1px solid transparent;
}

.genric-btn.primary:hover{
    background: #fff;
    color: #08c1c4;
    border: 1px solid #08c1c4;
}

.genric-btn.primary-border{
    background: #fff;
    color:  #666666;
    border: 1px solid #737373;
}

.genric-btn.primary-border:hover{
    background: #08c1c4;
    color:  #fff;
    border: 1px solid transparent;
}

.genric-btn.success{
    background: #4cd3e3;
    color:  #fff;
    border: 1px solid transparent;
aZVCDFRRR
.genric-btn.success:hover{
    background: #fff;
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
}

.genric-btn.success-border{
    background: #fff;
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
}

.genric-btn.success-border:hover{
    background: #4cd3e3;
    color: #fff;
    border: 1px solid transparent;
}

.genric-btn.info{
    background: #38a4ff;
    color: #fff;
    border: 1px solid transparent;
}

.genric-btn.info:hover{
    background: #fff;
    color: #38a4ff;
    border: 1px solid #38a4ff;
}

.genric-btn.info-border{
    background: #fff;
    color: #38a4ff;
    border: 1px solid #38a4ff;
}

.genric-btn.info-border:hover{
    background: #38a4ff;
    color: #fff;
    border: 1px solid transparent;
}

.genric-btn.warning{
    background: #f4e700;
    color: #fff;
    border: 1px solid transparent;
}

.genric-btn.warning:hover{
    background: #fff;
    color: #f4e700;
    border: 1px solid #f4e700;
}

.genric-btn.warning-border{
    background: #fff;
    color: #f4e700;
    border: 1px solid #f4e700;
}

.genric-btn.warning-border:hover{
    background: #f4e700;
    color: #fff;
    border: 1px solid transparent;
}

.genric-btn.danger{
    background: #f44a40;
    color: #fff;
    border: 1px solid transparent;
}

.genric-btn.danger:hover{
    background: #fff;
    color: #f44a40;
    border: 1px solid #f44a40;
}

.genric-btn.danger-border{
    background: #fff;
    color: #f44a40;
    border: 1px solid #f44a40;
}

.genric-btn.danger-border:hover{
    background: #f44a40;
    color: #fff;
    border: 1px solid transparent;
}

.genric-btn.link{
    background: #f9f9ff;
    color: #222;
    text-decoration: underline;
    border: 1px solid transparent;
}

.genric-btn.link:hover{
    background: #fff;
    color: #222;
    border: 1px solid #f9f9ff;
}

.genric-btn.link-border{
    background: #fff;
    color: #222;
    border: 1px solid #f9f9ff;
    text-decoration: underline;
}

.genric-btn.link-border:hover{
    background: #f9f9ff;
    color: #222;
    border: 1px solid transparent;
}

.genric-btn.disable{
    background: #f9f9ff;
    color: #222,0.3;
    border: 1px solid transparent;
    cursor: not-allowed;
}
/* End Button */

/* Start Primary Button */
.primary-btn{
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #222;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
}

.primary-btn:focus{outline: none;}

.primary-btn span{
    color: #fff;
    position: relative;
    z-index: 2;
}

.primary-btn .mr-10{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

}
.primary-btn:hover .mr-10{margin-right: 20px;}

.primary-btn.white-bg{
    background: #fff;
    border: 1px solid #eee;
    color: #08c1c4;
}

.primary-btn.white-bg span{
    color: #737373;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn.white-bg:hover{
    background: #08c1c4;
    color: #fff;
    border: 1px solid transparent;
}

.primary-btn.white-bg:hover span{color: #fff;}
/* End Primary Button */

/* Start progress table */
.generic-blockquote{
  background: #f9f9ff;
  color: #222,0.3;
  cursor: not-allowed;
  border: 1px solid transparent;
}

.progress-table-wrap{overflow-x: scroll;}

.progress-table{
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px;
}

.progress-table .serial{
    padding-left: 30px;
    width: 11.83%;
}

.progress-table .country{width: 28.07%;}

.progress-table .visit{width: 19.74%;}

.progress-table .percentage{
    padding-right: 50px;
    width: 40.36%;
}

.progress-table .table-head{display: flex;}

.progress-table  .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage{
      font-weight: 500;
      color: #222;
      text-transform: uppercase;
      line-height: 40px;
}

.progress-table .table-row{
      padding: 15px 0;
      display: flex;
      border-top: 1px solid #edf3fd;
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage{
    display: flex;
    align-items: center;
}

.progress-table .table-row .country img{margin-right: 15px;}

.progress-table .table-row .percentage .progress{
    background: transparent;
    width: 80%;
    border-radius: 0px;
}

.progress-table .table-row .percentage .progress .progress-bar{
    line-height: 5px;
    height: 5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1{background-color: #6382e6;}

.progress-table .table-row .percentage .progress .progress-bar.color-2{background-color: #e66686;}

.progress-table .table-row .percentage .progress .progress-bar.color-3{background-color: #f09359;}

.progress-table .table-row .percentage .progress .progress-bar.color-4{background-color: #73fbaf;}

.progress-table .table-row .percentage .progress .progress-bar.color-5{background-color: #73fbaf;}

.progress-table .table-row .percentage .progress .progress-bar.color-6{background-color: #6382e6;}

.progress-table .table-row .percentage .progress .progress-bar.color-7{background-color: #a367e7;}

.progress-table .table-row .percentage .progress .progress-bar.color-8{background-color: #e66686;}

.single-gallery-image{
    height: 200px;
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
/* End Table progress */

/* Start list area */
ol, ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-style{
    height: 14px;
    width: 14px;
}

.unordered-list li{
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}

.unordered-list li: before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #08c1c4;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%;
    }

.ordered-list{margin-left: 30px;}

.ordered-list li{
    list-style-type: decimal-leading-zero;
    color: #08c1c4;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list li span{
    font-weight: 300;
    color: #777;
}

.ordered-list-alpha li{
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #08c1c4;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-alpha li span{
    font-weight: 300;
    color: #777;
}

.ordered-list-roman li{
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #08c1c4;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-roman li span{
    font-weight: 300;
    color: #777;
}

.wim-feature li h3{
  margin-bottom: 1em;
  color: #737373;
}

.wim-feature li:nth-child(1), .wim-feature li:nth-child(2), .wim-feature li:nth-child(3) {
    margin-top: 0;
}
/* End list area */

/* Start Input Checkbox Radio area */

.single-input{
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input: focus{outline: none;}

.input-group-icon{position: relative;}

.input-group-icon .icon{
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3;
}

.input-group-icon .icon i{color: #797979;}

.input-group-icon .single-input{padding-left: 45px;}

.single-textarea{
    display: block;
    color: #000;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none;
}

.single-textarea: focus{outline: none;}

.single-input-primary{
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-primary: focus{
    outline: none;
    border: 1px solid #08c1c4;
}

.single-input-accent{
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-accent: focus{
    outline: none;
    border: 1px solid #eb6b55;
}

.single-input-secondary{
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-secondary: focus{
    outline: none;
    border: 1px solid #f09359;
}

.default-switch{
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.default-switch input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.default-switch input+label{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #08c1c4;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.default-switch input: checked+label{left: 19px;}

.primary-switch{
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.primary-switch input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-switch input+label{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.primary-switch input+label: before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.primary-switch input+label: after{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.primary-switch input: checked+label: after{left: 19px;}

.primary-switch input: checked+label: before{background: #08c1c4;}

.confirm-switch{
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.confirm-switch input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-switch input+label{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.confirm-switch input+label: before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}

.confirm-switch input+label: after{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.confirm-switch input: checked+label: after{left: 19px;}

.confirm-switch input: checked+label: before{background: #4cd3e3;}

.primary-checkbox{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.primary-checkbox input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-checkbox input+label{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.primary-checkbox input: checked+label{
    background: url(../img/elements/primary-check.png) no-repeat center center/cover;
    border: none;
}

.confirm-checkbox{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.confirm-checkbox input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-checkbox input+label{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.confirm-checkbox input: checked+label{
    background: url(../img/elements/success-check.png) no-repeat center center/cover;
    border: none;
}

.disabled-checkbox{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.disabled-checkbox input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.disabled-checkbox input+label{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.disabled-checkbox input: disabled{
    cursor: not-allowed;
    z-index: 3;
}

.disabled-checkbox input: checked+label{
    background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
    border: none;
}

.primary-radio{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.primary-radio input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-radio input+label{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.primary-radio input: checked+label{
    background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
    border: none;
}

.confirm-radio{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.confirm-radio input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-radio input+label{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.confirm-radio input: checked+label{
    background: url(../img/elements/success-radio.png) no-repeat center center/cover;
    border: none;
}

.disabled-radio{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.disabled-radio input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.disabled-radio input+label{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.disabled-radio input: disabled{
    cursor: not-allowed;
    z-index: 3;
}

.disabled-radio input: checked+label{
    background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
    border: none;
}
 /* End input checkbox and radio area */

 /* Start Select area */
 select{display: block;}

 .default-select{height: 40px;}

 .default-select .nice-select{
     border: none;
     border-radius: 0px;
     height: 40px;
     background: #f9f9ff;
     padding-left: 20px;
     padding-right: 40px;
 }

 .default-select .nice-select .list{
     margin-top: 0;
     border: none;
     border-radius: 0px;
     box-shadow: none;
     width: 100%;
     padding: 10px 0 10px 0px;
 }

 .default-select .nice-select .list .option{
     font-weight: 300;
     -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     line-height: 28px;
     min-height: 28px;
     font-size: 12px;
     padding-left: 20px;
 }

 .default-select .nice-select .list .option.selected{
     color: #08c1c4;
     background: transparent;
 }

 .default-select .nice-select .list .option:hover{
     color: #08c1c4;
     background: transparent;
 }

 .default-select .current{
     margin-right: 50px;
     font-weight: 300;
 }

 .default-select .nice-select::after{right: 20px;}

 .form-select{
     height: 40px;
     width: 100%;
 }

 .form-select .nice-select{
     border: none;
     border-radius: 0px;
     height: 40px;
     background: #f9f9ff;
     padding-left: 45px;
     padding-right: 40px;
     width: 100%;
 }

 .form-select .nice-select .list{
     margin-top: 0;
     border: none;
     border-radius: 0px;
     box-shadow: none;
     width: 100%;
     padding: 10px 0 10px 0px;
 }

 .form-select .nice-select .list .option{
     font-weight: 300;
     -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     line-height: 28px;
     min-height: 28px;
     font-size: 12px;
     padding-left: 45px;
 }

 .form-select .nice-select .list .option.selected{
     color: #08c1c4;
     background: transparent;
 }

 .form-select .nice-select .list .option:hover{
     color: #08c1c4;
     background: transparent;
 }

 .form-select .current{
     margin-right: 50px;
     font-weight: 300;
 }

 .form-select .nice-select::after{right: 20px;}
 /* End Select area */
